@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #ebe9e9;
}

header{
    height: 80px;
    width: 100%;
    background: #fff;
}